

.navBar {
  background-color: white;
  padding: 10px 10px;
}

.navBar img {
  height: 20px;
  /* background-color: white;
  padding: 10px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.headr {
  color: rgb(0, 255, 191);
  display: flex;
  justify-content: center;
  padding: 10px;
}
.page {
  background-image: linear-gradient(to right, black , lightsteelblue);
  height: 1765px;
}

/* Homepage Curiosity Pic */
.pic1 img{
  width: 600px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pic1 h3{
  display: flex;
  justify-content: center;
  color: white;
  padding: 10px;
}
/* Testor */
.Bob {
  background-image: linear-gradient(to right, lightsteelblue , black);
}
.Bob h1 {
  display: flex;
  justify-content: center;
  padding: 25px 1px;
  color: rgb(0, 255, 191);
}

.Bob p{
  display: flex;
  justify-content: center;
  padding: 1px 120px;
  color: rgb(234, 240, 251);
}

.Bob ul li{
list-style-type: none;
}

.ob {
  Color: lightsteelblue;
  opacity: 0.01;
}

.Bob img{

  width: 250px;
  padding: 20px 10px;
  margin: 5px;
  display: block; 
  float: left;
  /* display: flex;
  flex-wrap: wrap; */
}

/* Homepage Pic Of The Day */
.pic2 img{
  width: 600px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pic2 h3{
  display: flex;
  justify-content: center;
  color: white;
  padding: 10px;
}

/* // Weather  */

.Ttob {
  background-image: linear-gradient(to right, lightsteelblue , black);
  height: 825px;
}

.Tob img{
  width: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 25px;
}
.Tob h4 {
  padding: 20px 10px 0px 10px;
  text-align: center;
  color: rgb(0, 255, 191);
}

.Tobb h6{
  padding: 15px 185px;
  text-align: center;
  color: white;
}

/* Homepage OOOh Knowledge Pic */
.pic3 img{
  width: 600px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pic3 h3{
  display: flex;
  justify-content: center;
  color: white;
  padding: 10px;
}

/* stars */
.planetH{
  background-image: linear-gradient(to right, lightsteelblue , black);
}

.planetCard h6{
  color: rgb(234, 240, 251);
  text-align: center;
  list-style-type: none;
  /* border-style: solid;
  border-color: red; */
}

.planetH h2{
  padding: 15px 0px;
  color: rgb(0, 255, 191);
}

.planetCard h5 {
  color: rgb(255, 255, 255);
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  
}

.planetinfo {
  padding-top: 20px;
}